.container{
    width: 30%;
    margin: 5rem auto 2rem auto;
    padding: 20px;
    background-color: rgb(253,245,230);
}

.fullWidth {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Sacramento';
    color: rgb(160,82,45);
    font-weight: bold;
    font-size: 40px;
}

img {
    width: 30%;
    height:50%;
}

.imagem {
    text-align: center; 
}

button {
    margin-top: .5rem;;
}

mat-label {
    color: rgb(160,82,45);
}

mat-flat-button{
    color: rgb(160,82,45);
}

.btn-salvar {
    background-color: rgb(139,69,19);
    color: white;
}

.btn-salvar:hover {
    background-color: rgb(139,69,19);
  
}