<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <h3>Bem-vindo(a) a Hogwarts</h3>
  </mat-card-header>
  <img mat-card-image src="assets/img/castelo2.jpg" alt="Image Home Help Desk">

  <mat-card-content>
    <p>
      A Escola de Magia e Bruxaria de Hogwarts (ou simplesmente Hogwart) é um prestigiado internato britânico de magia 
      para bruxos e bruxas com idades entre onze e dezessete anos. Localizada nas Altas Terras escocesas, aceita estudantes 
      da Grã-Bretanha e da Irlanda. É uma escola pública, financiada pelo Ministério da Magia Britânico. A escola foi fundada 
      na Idade Média, aproximadamente no século X, por quatro grandes bruxos da época: Godrico Gryffindor, Salazar Slytherin, 
      Helga Hufflepuff e Rowena Ravenclaw. Cada um deles fundou sua respectiva Casa.
    </p>
  </mat-card-content>
</mat-card>